@keyframes colorWheelAnimation {
  0% {
    fill: #f1ffd4;
  }
  25% {
    fill: #fff7c9;
  }
  50% {
    fill: #f9d9c1;
  }
  75% {
    fill: #fed8ff;
  }
  100% {
    fill: #d0e5fb;
  }
}
.work-container {
  .home-icon-container {
    display: flex;
    justify-content: center;
    svg.home-icon {
      width: 55px;
      z-index: 1;
      &:hover {
        cursor: pointer;
        path {
          stroke: #000;
          animation: colorWheelAnimation 7s ease infinite alternate;
          -webkit-animation: colorWheelAnimation 7s ease infinite alternate;
        }
      }
    }
  }
  .grid-container {
    .carousel-img {
      background-position: center;
      background-size: contain;
      &.col-12 {
        height: 640px;
      }
      &.col-6 {
        height: 440px;
      }
    }
  }
  .quote-container {
    > .quote-title {
      padding: 2.2rem 1.7rem;
    }
  }
  .media-container {
    order: 2;
    .carousel-img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: contain;
    }
    .work-carousel {
      margin-left: -15px;
      margin-right: -15px;
      .dot-group-container {
        > button {
          position: absolute;
          border: none;
          background: transparent;
          bottom: 22px;
          font-size: 1.7rem;
          &.carousel__next-button {
            right: 0;
          }
          &.carousel__back-button {
            left: 0;
          }
        }
        .work-carousel-dots {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 85px;
          .carousel__dot {
            background-color: transparent;
            height: 15px;
            width: 15px;
            border: 1px solid #000;
            border-radius: 50%;
            &:first-child {
              margin-right: 0.5rem;
            }
            &.carousel__dot--selected {
              background-color: #000;
            }
          }
        }
      }
    }
  }
  .work-info-container {
    > .row {
      margin: 0.7rem;
    }
    .work-info-title {
      text-transform: capitalize;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
.work-container {
  .quote-container {
    > .quote-title {
      max-width: 50%;
    }
  }
  .work-info-container {
    > .row {
      margin: 3rem 1rem 1rem 1rem;
    }
  }
}
}
