@import '../../_variables.scss';

@keyframes bckgrndcolorWheelAnimationB {
  0% {
    background-color: #f1ffd4;
  }
  25% {
    background-color: #fff7c9;
  }
  50% {
    background-color: #f9d9c1;
  }
  75% {
    background-color: #fed8ff;
  }
  100% {
    background-color: #d0e5fb;
  }
}
.side-menu-button {
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 62px;
  z-index: 100;
  cursor: pointer;
  h6 {
    transform: rotate(90deg);
    font-size: 1.6rem;
    z-index: 101;
    position: fixed;
  }
}

.side-menu-container {
  z-index: 99;
  position: fixed;
  top: 0;
  background-color: #fff;
  height: 100vh;
  transition: all 500ms ease-in-out;
  &.right {
    right: 0;
    transform: translateX(368px);
    border-left: 1px solid #000;
    &.show {
      transform: translateX(0);
    }
  }
  &.left {
    left: -368px;
    transform: translateX(0);
    border-right: 1px solid #000;
    &.show {
      left: 0;
    }
  }
  &.show {
    width: 100%;
    z-index: 102;
    .side-menu-child {
      display: flex;
      height: 100vh;
      flex-flow: column;
      width: 100%;
    }
  }
  .side-menu-child {
    display: none;
  }
  .side-menu-title {
    transform: rotate(90deg);
    font-size: 1.6rem;
  }
  div.grey-box {
    flex: 1;
    margin-bottom: 67px;
    padding-bottom: 13px;
    .divider {
      border-bottom: 1px solid #000;
      padding: 0;
      width: 444px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .white-box {
    background-color: #fff;
    font-size: 1rem;
    margin: 0;
    .col-6 {
      display: flex;
      justify-content: center;
      &:first-child {
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
      }
      &:last-child {
        border-bottom: 1px solid #000;
      }
    }
    svg.sm-svg {
      width: 75px;
    }
    .sm-title {
      .sm-links {
        margin-bottom: 0;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  .work-nav {
    a.btn-link {
      border-bottom: 1px solid #000;
      text-decoration: none;
      color: #000;
      line-height: 2.5;
      &.first {
        border-top: 1px solid #000;
      }
    }
    .work-nav-title.btn-link {
      background-color: #fff;
      &:hover {
        animation: bckgrndcolorWheelAnimationB 7s ease infinite alternate;
        -webkit-animation: bckgrndcolorWheelAnimationB 7s ease infinite
          alternate;
      }
    }
  }
  .work-nav,
  .grey-box {
    font-size: 1.4rem;
    margin: 0;
    overflow: auto;
    > .col-12 {
      padding: 5% 7%;
    }
    .nav-title {
      color: #7f7f7f;
      margin-top: 1.5rem;
    }
    .about-title {
      margin-top: 0.2rem;
    }
    .work-title,
    .about-title {
      font-weight: 500;
    }
    .work-title:hover {
      background-color: #fff;
      cursor: pointer;
    }
  }
}
.side-menu-backdrop.modal-backdrop {
  display: none;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .side-menu-button,
  .side-menu-container {
    display: flex;
  }
  .side-menu-container {
    width: 430px !important;
    div.grey-box {
      margin-bottom: 0;
    }
  }
  .side-menu-backdrop.modal-backdrop {
    z-index: 1;
    display: none;
    background-color: transparent;
    &.show {
      display: block;
    }
  }
  .work-nav {
    font-size: 1rem;
  }
  .work-nav,
  .grey-box {
    > .col-12 {
      padding-left: 10%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .nav-title {
      margin-top: 3rem;
    }
  }
}
