@import '../../_variables.scss';

@keyframes colorWheelAnimation {
  0% {
    fill: #f1ffd4;
  }
  25% {
    fill: #fff7c9;
  }
  50% {
    fill: #f9d9c1;
  }
  75% {
    fill: #fed8ff;
  }
  100% {
    fill: #d0e5fb;
  }
}
.side-menu-button {
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 62px;
  z-index: 100;
  cursor: pointer;
  h6 {
    transform: rotate(90deg);
    font-size: 1.6rem;
    z-index: 101;
    position: fixed;
  }
}

.side-menu-container {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  background-color: #fff;
  height: 100vh;
  width: 430px;
  transition: all 500ms ease-in-out;
  &.right {
    right: 0;
    transform: translateX(368px);
    border-left: 1px solid #000;
    &.show {
      transform: translateX(0);
    }
  }
  &.left {
    left: -368px;
    transform: translateX(0);
    border-right: 1px solid #000;
    &.show {
      left: 0;
    }
  }
  &.show {
    z-index: 102;
    // -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
    // -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
    // box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
    .side-menu-child {
      display: flex;
      height: 100vh;
      flex-flow: column;
    }
  }
  .side-menu-child {
    display: none;
  }
  .side-menu-title {
    transform: rotate(90deg);
    font-size: 1.6rem;
  }
  .grey-box {
    flex: 1;
  }
  .white-box {
    background-color: #fff;
    font-size: 1rem;
    margin: 0;
    .col-6 {
      display: flex;
      justify-content: center;
      &:first-child {
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
      }
      &:last-child {
        border-bottom: 1px solid #000;
      }
      &:hover {
        .sm-links {
          font-weight: bold;
        }
        svg.sm-svg {
          .st0,
          .linkedin {
            animation-name: colorWheelAnimation;
            animation-duration: 7s;
            animation-timing-function: ease;
            animation-delay: 0;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }
      }
    }
    svg.sm-svg {
      width: 75px;
    }
    .sm-title {
      .sm-links {
        margin-bottom: 0;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  .work-nav {
    a.btn-link {
      border-bottom: 1px solid #000;
      text-decoration: none;
      color: #000;
      line-height: 2.5;
      &.first {
        border-top: 1px solid #000;
      }
    }
  }
  .work-nav,
  .grey-box {
    font-size: 1rem;
    margin: 0;
    > .col-12 {
      padding-left: 10%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .nav-title {
      color: #7f7f7f;
    }
    .about-title {
      margin-top: 0.2rem;
    }
    .work-title,
    .about-title {
      font-weight: 500;
    }
    .work-title:hover {
      background-color: #fff;
      cursor: pointer;
    }
  }
}

.side-menu-backdrop.modal-backdrop {
  z-index: 1;
  display: none;
  background-color: transparent;
  &.show {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .side-menu-button {
    display: block;
  }
  .side-menu-container {
    display: flex;
  }
 }
