@keyframes colorWheelAnimation {
  0% {
    fill: #f1ffd4;
  }
  25% {
    fill: #fff7c9;
  }
  50% {
    fill: #f9d9c1;
  }
  75% {
    fill: #fed8ff;
  }
  100% {
    fill: #d0e5fb;
  }
}
.home-container {
  svg.helen-logo-svg {
    position: absolute;
    z-index: 1;
    width: 250px;
    top: calc(50vh - 65px);
    left: 0;
    right: 0;
    margin: auto;
    ellipse {
      fill: #fff;
    }
    &:hover {
      cursor: pointer;
      ellipse {
        animation-name: colorWheelAnimation;
        animation-duration: 7s;
        animation-timing-function: ease;
        animation-delay: 0;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
  .proj-view-container {
    height: 100vh;
    background-position: center;
    background-size: cover;
    .proj-view-title {
      cursor: pointer;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-container {
    svg.helen-logo-svg {
      top: 0;
      bottom: 0;
    }
  }
}
