@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import './_variables.scss';

body {
  margin: 0;
  font-family: $AP-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  color: #000;
  background-color: $light-grey;
  border-color: $dark-grey;
  &:hover,
  &:active {
    background-color: $dark-grey;
    border-color: $dark-grey;
  }
}
